.header {
  padding: 10px;
  background-color: rgb(209, 209, 209);
  border-radius: 4px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.imageWrapper{
  background-color: rgb(238, 236, 236);
  border-radius: 50%;
}

.logo{
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.innerHeader{
   display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(238, 236, 236);
  font-family: 'Comic Sans Ms';
  font-weight: 700;
  cursor: pointer;
}

