.header {
  padding: 10px;
  background-color: rgb(209, 209, 209);
  border-radius: 4px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

