.ImageArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans Ms";
  font-weight: 700;
  gap:20px;
   border-radius: 4px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 10px;
}

.ImageAreaHeading{
  margin-bottom: 20px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
  padding: 20px;
  background-color: rgb(209, 209, 209);
  border-radius: 4px;
  border: 1px solid rgba(15, 15, 15, 0.3);
}

.message{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans Ms";
  font-weight: 700;
}