.backDrop{
     position: fixed;
    height: 100vh;
    width:100vw;
    top: 0;
    left: 0;
     opacity: 1;
    visibility: visible;
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderWrapper{
  background-color: rgb(209, 209, 209);
  padding: 20px;
  border-radius: 50%;
  width:180px;
  height:180px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: scale;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loaderContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader{
  width: 150px;
  height: auto;
}





@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}