.statsArea{
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1300px;
    border: 1px solid rgba(15, 15, 15, 0.3);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.statsAreaHeading{
    font-family: 'Comic Sans MS';
    font-weight: 700; 
}

.selectorWrapper{
    background-color: rgb(238, 236, 236);
    padding: 20px;
    border: 1px solid rgba(15, 15, 15, 0.3);
    border-radius: 4px;
}

select{
    font-family: 'Comic Sans MS';
    font-size: 13px;
    font-weight: 700;
}

.stats{
    border: 1px solid rgba(15, 15, 15, 0.3);
    border-radius: 4px;
    width: 100%;
    min-height: 500px;
    background-color: rgb(238, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
  background-color: rgb(209, 209, 209);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .15);
  border-radius: 30px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  font-family: 'Comic Sans MS';
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
}

.emptyMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
border-radius: 50%;
font-family: 'Comic Sans MS';
font-weight: 700;
}

.messageIllustration{
width: 90px;
height: 90px;
object-fit: cover;
}

.statsWrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 236, 236);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.breedWrapper{
border: 1px solid rgba(15, 15, 15, 0.3);
background-color: rgb(209, 209, 209);
padding: 10px;
border-radius: 6px;
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
gap:10px;
}

.statsImage{
width: 200px;
height: 200px;
object-fit: cover;    

}

.statsImageWrapper{
border: 1px solid rgba(15, 15, 15, 0.3);
border-radius: 6px;
overflow: hidden;
}

.nameStat{
font-family: 'Comic Sans MS';
font-weight: 700;    
}

.statsDetailsWrapper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap:5px;    
}

.statItem{
border: 1px solid rgba(15, 15, 15, 0.3);
background-color: rgb(209, 209, 209);
background-color: rgb(238, 236, 236);
border-radius: 30px;
font-family: 'Comic Sans MS';
font-weight: 700;
padding: 6px;
}